<% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function(error) { %>
        <div class="alert alert-warning alert-dismissable fade show" role="alert">
            <strong><%= error.msg %></strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% }); %>
<% }%>

<% if(success_msg != '') { %>
    <div class="alert alert-success alert-dismissable fade show" role="alert">
        <strong><%= success_msg %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if(error_msg != '') { %>
    <div class="alert alert-warning alert-dismissable fade show" role="alert">
        <strong><%= error_msg %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if(error != '') { %>
    <div class="alert alert-warning alert-dismissable fade show" role="alert">
        <strong><%= error %></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>